@tailwind base;
@tailwind components;
@tailwind utilities;

.parent .hidden-child {
    visibility: hidden;
}

.parent:hover .hidden-child {
    visibility: visible;
    z-index: 20000;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

input:focus::placeholder {
    color: #303233;
}

:root {
    --accent-color: #7e22ce;
    --accent-color0: #b91c1c;
    --accent-color1: #15803d;
    --accent-color2: #4338ca;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 325px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1920px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, #101010 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 250px;
    position: absolute;
    width: 400px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 250px;
    width: 400px;
}